* {
  margin: 0;
  padding: 0;
}
section {
  background-color: #fefff5;
  text-align: center;
}
.wrapper h1 {
  font-size: 48px;
  color: #0a8080;
  margin-top: 27px;
}
.wrapper p {
  font-size: 18px;
  padding: 26px 0px 27px 0px;
}
.wrapper a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 8px 40px 8px 40px;
  background-color: #0a8080;
  border-radius: 10px;
}
.wrapper {
  width: 700px;
  margin: auto;
  padding-top: 33px;
}

/* Blog Section */
.blog-section {
  font-size: 36px;
  color: #0a8080;
  padding: 65px 0px 78px 0px;
  text-align: center;
}

/* Table-Section-One */
.table-one {
  text-align: left;
  background-color: #fefff5;
  width: 942px;
  margin: auto;
  padding: 43px 112px 43px 39px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-one h2 {
  font-size: 24px;
}
.table-one p {
  font-size: 16px;
  padding: 16px 0px 22px 0px;
}
.table-one a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
  background-color: #0a8080;
  border-radius: 10px;
  color: white;
}

/* Table-Section-Two */
.table-two {
  text-align: left;
  background-color: #fefff5;
  width: 942px;
  margin: auto;
  padding: 43px 112px 43px 39px;
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-two h2 {
  font-size: 24px;
}
.table-two p {
  font-size: 16px;
  padding: 16px 0px 22px 0px;
}
.table-two a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
  background-color: #0a8080;
  border-radius: 10px;
  color: white;
}

/* Table-Section-Three */
.table-three {
  text-align: left;
  background-color: #fefff5;
  width: 942px;
  margin: auto;
  padding: 43px 112px 43px 39px;
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-three h2 {
  font-size: 24px;
}
.table-three p {
  font-size: 16px;
  padding: 16px 0px 22px 0px;
}
.table-three a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
  background-color: #0a8080;
  border-radius: 10px;
  color: white;
}

/* Footer Section */
.footer p {
  background-color: #0a8080;
  margin-top: 86px;
  padding: 13px 0px 14px 0px;
  font-size: 18px;
  color: white;
}
